@charset "utf-8";
/* CSS Document */
.mainfix { font-size:12px; line-height:20px; font-family:OpenSans, sans-serif; padding:10px;}
.mainfix h1 { font-weight:300; line-height:1.1; font-size:20px;}
.mainfix ul { margin:0; padding:5px 0 0 25px; list-style:disc; }
.mainfix ol {margin:0; padding:5px 0 0 25px;}
.mainfix ul ul { list-style:circle; }
.mainfix ul li, .mainfix ol li { margin-bottom:7px;}